body{
   background: #263238;
}

.container{

   padding-top: 85px;
   padding: 12px 24px 24px 24px;
	margin: 48px 12px;
   background: #718999;
	border-radius: 4px;
   
}
h1{
   font-weight: 600;
   color:white;
   text-align: center;
}
/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
   color: white;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
button[type=submit] {
	background: #59A7D9;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}




